body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:314px;
  height:621px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:134px;
  width:60px;
  height:6px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:114px;
  width:10px;
  height:10px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:134px;
  width:6px;
  height:6px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:661px;
  width:45px;
  height:45px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:489px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:24px;
  color:#1E1E1E;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:166px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:167px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#1E1E1E;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:167px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#1E1E1E;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:192px;
  width:65px;
  height:25px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:196px;
  width:1px;
  height:17px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:18px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:197px;
  width:15px;
  height:15px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:202px;
  width:5px;
  height:5px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:203px;
  width:5px;
  height:5px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:203px;
  width:4px;
  height:4px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:203px;
  width:4px;
  height:4px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:195px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#363636;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:192px;
  width:31px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u976 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:192px;
  width:31px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:225px;
  width:285px;
  height:1px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:194px;
  width:18px;
  height:22px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:18px;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:235px;
  width:79px;
  height:15px;
  font-size:13px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:230px;
  width:196px;
  height:25px;
}
#u980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:267px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:267px;
  width:62px;
  height:16px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u982_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:267px;
  width:62px;
  height:16px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u983_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:298px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:293px;
  width:196px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:300px;
  width:7px;
  height:7px;
  color:#FF0000;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:333px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:328px;
  width:196px;
  height:25px;
}
#u988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:368px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:363px;
  width:196px;
  height:25px;
}
#u990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:370px;
  width:7px;
  height:7px;
  color:#FF0000;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:399px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:424px;
  width:266px;
  height:144px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:144px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:480px;
  width:7px;
  height:7px;
  color:#FF0000;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:489px;
  opacity:0.3;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:520px;
  width:288px;
  height:42px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:563px;
  width:288px;
  height:42px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:609px;
  width:288px;
  height:42px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:596px;
  width:264px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
