body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1016px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:15px;
  width:100px;
  height:35px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:77px;
  width:100px;
  height:60px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:50px;
  width:0px;
  height:0px;
}
#u1494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u1494_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:18px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:89px;
  width:100px;
  height:35px;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:107px;
  width:0px;
  height:0px;
}
#u1496_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1496_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:176px;
  width:100px;
  height:35px;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:137px;
  width:0px;
  height:0px;
}
#u1498_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1498_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:124px;
  width:0px;
  height:0px;
}
#u1499_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u1499_seg1 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:66px;
  width:123px;
  height:8px;
}
#u1499_seg2 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:61px;
  width:18px;
  height:18px;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:253px;
  width:100px;
  height:60px;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:211px;
  width:0px;
  height:0px;
}
#u1501_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1501_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:283px;
  width:0px;
  height:0px;
}
#u1502_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1502_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:253px;
  width:100px;
  height:60px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:366px;
  width:100px;
  height:60px;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:313px;
  width:0px;
  height:0px;
}
#u1505_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1505_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:18px;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:462px;
  width:100px;
  height:35px;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:426px;
  width:0px;
  height:0px;
}
#u1507_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u1507_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:18px;
}
#u1507_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:366px;
  width:100px;
  height:60px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:396px;
  width:0px;
  height:0px;
}
#u1509_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1509_seg1 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:313px;
  width:0px;
  height:0px;
}
#u1510_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:171px;
}
#u1510_seg1 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:163px;
  width:129px;
  height:8px;
}
#u1510_seg2 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:158px;
  width:18px;
  height:18px;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:283px;
  width:0px;
  height:0px;
}
#u1511_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1511_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:426px;
  width:0px;
  height:0px;
}
#u1512_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1512_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:50px;
  width:116px;
  height:8px;
}
#u1512_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:18px;
  height:18px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:46px;
  width:100px;
  word-wrap:break-word;
}
#u1513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:378px;
  width:100px;
  height:35px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:396px;
  width:0px;
  height:0px;
}
#u1514_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1514_seg1 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:413px;
  width:0px;
  height:0px;
}
#u1515_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1515_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:63px;
  width:278px;
  height:8px;
}
#u1515_seg2 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:58px;
  width:18px;
  height:18px;
}
#u1515_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:541px;
  width:100px;
  height:35px;
}
#u1516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:497px;
  width:0px;
  height:0px;
}
#u1517_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1517_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:611px;
  width:100px;
  height:35px;
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:576px;
  width:0px;
  height:0px;
}
#u1519_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1519_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:678px;
  width:100px;
  height:60px;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:646px;
  width:0px;
  height:0px;
}
#u1521_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u1521_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:708px;
  width:0px;
  height:0px;
}
#u1522_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u1522_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-83px;
  width:8px;
  height:87px;
}
#u1522_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-83px;
  width:58px;
  height:8px;
}
#u1522_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-88px;
  width:18px;
  height:18px;
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-47px;
  width:100px;
  word-wrap:break-word;
}
#u1523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:777px;
  width:100px;
  height:35px;
}
#u1523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:738px;
  width:0px;
  height:0px;
}
#u1524_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1524_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:777px;
  width:100px;
  height:35px;
}
#u1525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:777px;
  width:100px;
  height:35px;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:795px;
  width:0px;
  height:0px;
}
#u1527_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u1527_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:795px;
  width:0px;
  height:0px;
}
#u1528_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1528_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:845px;
  width:100px;
  height:35px;
}
#u1529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:812px;
  width:0px;
  height:0px;
}
#u1530_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u1530_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:912px;
  width:100px;
  height:35px;
}
#u1531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:880px;
  width:0px;
  height:0px;
}
#u1532_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u1532_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u1532_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:967px;
  width:100px;
  height:35px;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:967px;
  width:100px;
  height:35px;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:930px;
  width:0px;
  height:0px;
}
#u1535_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u1535_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:41px;
}
#u1535_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:25px;
  width:18px;
  height:18px;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:930px;
  width:0px;
  height:0px;
}
#u1536_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1536_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:41px;
}
#u1536_seg2 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:25px;
  width:18px;
  height:18px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:765px;
  width:100px;
  height:60px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:795px;
  width:0px;
  height:0px;
}
#u1538_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1538_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1032px;
  width:100px;
  height:60px;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1002px;
  width:0px;
  height:0px;
}
#u1540_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1540_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1136px;
  width:100px;
  height:35px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1092px;
  width:0px;
  height:0px;
}
#u1542_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1542_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1092px;
  width:0px;
  height:0px;
}
#u1543_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u1543_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:137px;
  height:8px;
}
#u1543_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-111px;
  width:8px;
  height:133px;
}
#u1543_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-111px;
  width:23px;
  height:8px;
}
#u1543_seg4 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:-116px;
  width:18px;
  height:18px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1044px;
  width:100px;
  height:35px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1062px;
  width:0px;
  height:0px;
}
#u1545_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1545_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1207px;
  width:100px;
  height:35px;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1154px;
  width:0px;
  height:0px;
}
#u1547_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-4px;
  width:121px;
  height:8px;
}
#u1547_seg1 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-75px;
  width:8px;
  height:79px;
}
#u1547_seg2 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-81px;
  width:18px;
  height:18px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:1002px;
  width:0px;
  height:0px;
}
#u1548_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:227px;
}
#u1548_seg1 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:219px;
  width:152px;
  height:8px;
}
#u1548_seg2 {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:214px;
  width:18px;
  height:18px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:178px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1062px;
  width:0px;
  height:0px;
}
#u1549_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u1549_seg1 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:8px;
  height:171px;
}
#u1549_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:159px;
  width:185px;
  height:8px;
}
#u1549_seg3 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:154px;
  width:18px;
  height:18px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:155px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1290px;
  width:100px;
  height:35px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1242px;
  width:0px;
  height:0px;
}
#u1551_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1551_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:18px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:825px;
  width:0px;
  height:0px;
}
#u1552_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:487px;
}
#u1552_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:479px;
  width:337px;
  height:8px;
}
#u1552_seg2 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:474px;
  width:18px;
  height:18px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:400px;
  width:100px;
  word-wrap:break-word;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:663px;
  width:100px;
  height:35px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:698px;
  width:0px;
  height:0px;
}
#u1554_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1554_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:18px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:663px;
  width:0px;
  height:0px;
}
#u1555_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-108px;
  width:8px;
  height:108px;
}
#u1555_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-108px;
  width:278px;
  height:8px;
}
#u1555_seg2 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:-113px;
  width:18px;
  height:18px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:176px;
  width:50px;
  height:50px;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:1346px;
  width:50px;
  height:50px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:355px;
  width:100px;
  height:35px;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:343px;
  width:100px;
  height:60px;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:266px;
  width:100px;
  height:35px;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:301px;
  width:0px;
  height:0px;
}
#u1561_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1561_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:373px;
  width:0px;
  height:0px;
}
#u1562_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u1562_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:442px;
  width:100px;
  height:35px;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:403px;
  width:0px;
  height:0px;
}
#u1564_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1564_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:460px;
  width:0px;
  height:0px;
}
#u1565_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u1565_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-70px;
  width:8px;
  height:74px;
}
#u1565_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-76px;
  width:18px;
  height:18px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
