body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:314px;
  height:621px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:134px;
  width:60px;
  height:6px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:114px;
  width:10px;
  height:10px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:134px;
  width:6px;
  height:6px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:661px;
  width:45px;
  height:45px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:489px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:24px;
  color:#1E1E1E;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:166px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:167px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:167px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#1E1E1E;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:167px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#1E1E1E;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:192px;
  width:65px;
  height:25px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:196px;
  width:1px;
  height:17px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:18px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:197px;
  width:15px;
  height:15px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:202px;
  width:5px;
  height:5px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:203px;
  width:5px;
  height:5px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:203px;
  width:4px;
  height:4px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:203px;
  width:4px;
  height:4px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:195px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#363636;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:192px;
  width:31px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u826 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:192px;
  width:31px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:247px;
  width:30px;
  height:18px;
  color:#515151;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:240px;
  width:55px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:247px;
  width:15px;
  height:18px;
  color:#515151;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:37px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:278px;
  width:245px;
  height:36px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:284px;
  width:245px;
  height:25px;
}
#u833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:328px;
  width:58px;
  height:25px;
}
#u834_img.selected {
}
#u834.selected {
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:328px;
  width:58px;
  height:25px;
}
#u835_img.selected {
}
#u835.selected {
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:328px;
  width:58px;
  height:25px;
}
#u836_img.selected {
}
#u836.selected {
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:328px;
  width:58px;
  height:25px;
}
#u837_img.selected {
}
#u837.selected {
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:225px;
  width:285px;
  height:1px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:41px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:416px;
  width:252px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:162px;
  width:288px;
  height:489px;
  opacity:0.3;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:520px;
  width:288px;
  height:42px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:563px;
  width:288px;
  height:42px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:609px;
  width:288px;
  height:42px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:194px;
  width:18px;
  height:22px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:18px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:366px;
  width:14px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#06BA04;
  text-align:center;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:363px;
  width:25px;
  height:25px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:368px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#797979;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
